:root {
  --color-light-l: #f6f6f6;
  --color-dark-l: #545454;
  --color-primary: #f1cdb3;
  --color-dark-m: #b2b2b2;
  --color-primary-light: #fddcc4;
}

.addition {
  padding-top: 80px;
  padding-bottom: 99px;
}
.addition-wrapper {
  max-width: 915px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 30px;
}
.addition-info {
  max-width: 380px;
  display: inline-flex;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}
.addition-info-title {
  color: var(--color-dark-l);
  max-width: 300px;
}
.addition-info-bank {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}
.addition-info-card {
  display: block;
  background-color: var(--color-primary);
  padding: 10px 15px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
.addition-info-card:hover {
  background-color: var(--color-primary-light);
}
.addition-info-card-number {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}
.addition-info-agreement {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--color-dark-m);
}
