:root {
  --color-light-l: #f6f6f6;
  --color-light-s: #fafafa;
  --color-dark-l: #545454;
  --color-dark-3xl: #292929;
  --color-primary: #f1cdb3;
  --color-primary-light: #fddcc4;
  --color-light-xl: #ffffff;
  --color-dark-s: #cdcdcd;
  --color-svg-main: #292929;
}

.our-friends {
  background-color: var(--color-light-l);
  padding-top: 80px;
  padding-bottom: 99px;
}

.our-friends-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.our-friends-title {
  max-width: 400px;
  text-align: center;
  color: var(--color-dark-l);
}

.our-friends-buttons {
  display: flex;
  gap: 20px;
}

.our-friends-button {
  background-color: transparent;
  width: 52px;
  height: 52px;
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  position: relative;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.our-friends-button:hover {
  background-color: var(--color-primary);
}

.our-friends-button.disabled {
  border: 2px solid var(--color-dark-s);
  cursor: auto;
}

.our-friends-button.disabled:hover {
  background-color: transparent;
}

.our-friends-button.disabled svg {
  fill: var(--color-dark-s);
}

.our-friends-button.left {
  transform: rotate(180deg);
}

.our-friends-button svg {
  width: 13px;
  height: 23px;
  transform: translate(-40%, -50%);
}

.our-friends-button.double svg {
  width: 27px;
  height: 23px;
  transform: translate(-50%, -50%);
}

.our-friends-button-svg {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  fill: var(--color-svg-main);
}

.our-friends-slider-button:hover {
  background-color: #f1cdb3;
}

.our-friends-slider-button.right {
  transform: rotate(180deg);
}

.our-friends-slider-button-img {
  display: block;
  margin: auto;
}

.our-friends-page {
  background-color: var(--color-primary);
  width: 50px;
  height: 50px;
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  position: relative;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
  user-select: none;
}

.our-friends-viewport {
  display: flex;
  width: 100%;
  overflow: hidden;
  gap: 3%;
}

.our-friends-slide {
  display: grid;
  grid-template-columns: repeat(4, auto);
  flex: 1 0 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
  transition: all 0.5s ease 0s;
}

.our-friends-card {
  background-color: var(--color-light-s);
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  border-radius: 9px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.our-friends-card:hover {
  background-color: var(--color-light-xl);
}

.our-friends-card-text {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: var(--color-dark-l);
  letter-spacing: 0.06em;
}

.our-friends-card-button {
  padding: 12px 42px;
  background-color: transparent;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  position: relative;
  transition: all 0.3s ease 0s;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
  margin-bottom: 30px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.our-friends-card:hover .our-friends-card-button {
  background-color: var(--color-primary);
}

@media (max-width: 1200px) {
  .our-friends-slide {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 940px) {
  .our-friends {
    padding-bottom: 75px;
  }
  .our-friends-container {
    gap: 30px;
  }
  .our-friends-viewport {
    max-width: 580px;
  }
  .our-friends-slide {
    grid-template-columns: repeat(2, auto);
    row-gap: 32px;
  }
  .our-friends-buttons {
    margin-top: 10px;
  }
}

@media (max-width: 630px) {
  .our-friends {
    padding: 42px 0;
  }
  .our-friends-container {
    gap: 42px;
  }
  .our-friends-title {
    margin: 0 -5px;
  }
  .our-friends-viewport {
    width: 270px;
    max-width: none;
  }
  .our-friends-slide {
    grid-template-columns: auto;
    justify-self: center;
  }
  .our-friends-buttons {
    gap: 10px;
    margin-top: 0;
  }
}
