@import url("../normalize.css");
@import url("./pets-header.css");
@import url("./our-friends.css");
@import url("../main/footer.css");

ul {
  list-style-type: none;
}

p,
h1,
h2 {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}

.h2 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}
