@import url("../normalize.css");
@import url("./pets-header.css");
@import url("./our-friends.css");
@import url("../main/footer.css");
@import url("../popup.css");

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p,
h1,
h2 {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}

.h2 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  transition: all 0.3s ease 0s;
  visibility: hidden;
}

.overlay.active {
  background-color: rgba(0, 0, 0, 0.5);
  visibility: visible;
  opacity: 1;
}

.overlay.active ~ .popup {
  opacity: 1;
}

@media (max-width: 1030px) {
  .container {
    padding: 0 30px;
  }
}
@media (max-width: 420px) {
  .container {
    padding: 0 20px;
  }
}
